<%- include('../partials/user/header') %>
<link rel="stylesheet" href="/css/user-style/login.css">
<!--==============================Login page==============================================-->
<main class="login-container">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="login-card">
          <div class="row g-0">
            <!--Left: Illustration -->  
            <div class="col-md-6">
              <section class="promo-section" aria-label="login illustration">
                <img
                  src="/images/login-side-image.png"
                  alt="Delivery person giving a gift to a customer"
                  class="illustration-image"
                />
              </section>
            </div>

            <!--Right: Form --> 
            <div class="col-md-6">
              <section class="form-section" aria-labelledby="login-title">
                <h2 id="login-title" class="form-title">Login</h2>

                <form id="loginForm" action="/login" method="post" novalidate>    <!--novalidate-->

                  <div class="form-group">
                    <label class="form-label" for="email">Email Address</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email Address" required />
                    <!-- <div id="error2" class="error-message"></div> -->
                  </div>

                  <div class="form-group">
                    <label class="form-label" for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" required />
                    <!-- <div id="error3" class="error-message"></div> -->
                  </div>
                  <%if(locals.message && message.length>0){%>
                    <div class="alert alert-danger text-center">
                  <%=message%>
                  </div>
                  <%}%>
                  
                  <!--Forgot Password--> 
                   <div class="login-options">
                        <a href="/forgot-password" class="forgot-password">Forgot Password?</a>
                  </div>

                  <button type="submit" class="btn btn-primary cakezz-primary-btn">LOGIN ACCOUNT</button>
                </form>

                <a href="/auth/google" class="btn btn-google" style="text-decoration: none">
                  <img
                    src="/images/google.svg"
                    alt="Google logo"
                  />
                  Sign Up with Google
                </a>

                <p class="signup-link">
                  Do you have an account?
                  <a href="/signup" class="link-pink">signup here</a>
                </p>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<%- include('../partials/user/footer') %>